@import "tailwindcss";
@plugin "daisyui" {
	themes: all;
}

@layer base {
  @font-face {
    font-family: 'YourFont';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/Fonts/SpecialGothicExpandedOne-Regular.ttf') format('.ttf');
  }
  .font-specialgothic {
    font-family: 'YourFont', sans-serif;
  }
    .font-handwriting {
    font-family: 'Dancing Script', cursive;
  }
}
.active-text{
    display: block;
}